<form action="/home/apply" method="post">
	<input type="integer" name="tutor_id" placeholder="tutor_id"/>
	<br>
	<input type="datetime" name="start_time" placeholder="start_time"/>
	<br>
	<input type="integer" name="time_option" placeholder="20 or 40"/>
	<br>
	<input type="submit" value="수강신청" class="submit">
</form>