<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width : 100px;
    height: 40px;
}
th, td {
    padding: 1px;
}
th {
    text-align: center;
}
</style>
</head>
<body>


<table style="width:100%">

  <tr>
    <th> </th>
    <th>SUN</th>
    <th>MON</th>
    <th>TUE</th>
    <th>WED</th>
    <th>THU</th>
	<th>FRI</th>
	<th>SAT</th>  
  </tr>
	<script>
	for(int i=0; i<49; i++) {
		<tr>
		<th>00:00-00:30</th>
		<td style = "background : Gray;"></td>
		<td style = "background : Gray;"></td>
		<td style = "background : Gray;"></td>
		<td style = "background : Gray;"></td>
		<td style = "background : Gray;"></td>
		<td style = "background : Gray;"></td>
		<td style = "background : Gray;"></td>
	   </tr>
	}
	</script>



</table>

</body>
</html>

